<!doctype html>
<html>
		<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title><%= @título %></title>

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="main.css">
	</head>

	<body>
		<div id="flexbox">
			

			<main>	

			<header>
				<h1><%= @cabecera %></h1>
				<% if @cabecera != "El emperador secreto" %>
					<h3>El emperador secreto</h3>
				<% end %>
			</header> 	


			<%= @contenido %>

			<% if @fin %>
				<h3>
					Fin
				</h3>
							
			<% else %>
				<form method="POST" action="/">
				  <p>¿Qué haces?: <input type="text" name="orden"></p>
				  <!--<input type="submit" value="Responde">-->
				</form>
			<% end %>

			</main>

			<aside>
				<% if @resultado != "" %>
					<div class="resultado"><h3>Respuesta del Máster:</h3> <%= @resultado %></div>
				<% end %>
				<%= @pj.to_html %>
			</aside>
		</div>
		
		<footer>
			<p>Un librojuego de Miguel de Luis Espinosa</p>
		</footer>
	</body>
</html>
